<footer class="wrapper mx-auto grid-container w-full">
  <div class="col-span-full border-t-[1px] border-t-black dark:border-t-white py-16">
    <div class="text-center col-span-full md:flex md:items-center md:justify-between md:col-start-2 md:col-span-10">
      <div class="flex flex-col space-y-4">
        <h5 class="text-lg font-semibold">Menu Principal</h5>
        <ul class="space-y-2">
          <li><%= link_to 'Inicio', root_path, class: 'hover:underline' %></li>
          <li><%= link_to 'Tienda',  root_path, class: 'hover:underline' %></li>
          <li><%= link_to 'Conctactanos',  class: 'hover:underline' %></li>
          <li><%= link_to 'Preguntas Frecuentes',  class: 'hover:underline' %></li>
        </ul>
      </div>
      
      
      <div class="flex flex-col space-y-4">
        <h5 class="text-lg font-semibold">Nosotros</h5>
        <p>Espacio dedicado a la exhibicion de articulos coleccionables.</p>
        <p>&copy; <%= Time.now.year %> Pasatiempos. Derechos reservados.</p>
        <p>Desarrollado por @l3x0r Design Studio.</p>
      </div>

      <div class="col-span-full">
        <%= render "shared/social_icons" %>
      </div>
    </div>
    <%
      available_locales = current_store.available_locales.map do |locale|
        [
          I18n.t('spree.i18n.this_file_language',
          locale: locale,
          default: locale.to_s,
          fallback: false), locale
        ]
      end.sort
    %>
    <% if available_locales.many? %>
      <div class="locale-selector">
        <%= form_tag select_locale_path do %>
          <div class="locale-selector__select-input select-input">
            <%= label_tag :switch_to_locale, "#{t('spree.i18n.language')}:" %>
            <%= select_tag(:switch_to_locale, options_for_select(available_locales, I18n.locale)) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</footer>
